header {
  height: 100vh;
  background: #222222;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
  align-items: center;
  margin-bottom: 30px;
}

nav h1 {
  color: #f26c4f;
  font-size: 2rem;
}

nav ul {
  display: flex;
  gap: 40px;
}

ul li {
  list-style: none;
}

.header-content {
  margin-top: 100px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.header-content h1 {
  max-width: 9ch;
  font-size: 5rem;
  text-align: right;
  position: relative;
  line-height: 1.2;
  flex-basis: 0;
}

.header-content h1::before {
  content: "";
  position: absolute;
  top: -75px;
  right: -15px;
  height: 350px;
  width: 2px;
  background: #f26c4f;
  border-radius: 300px;
}
.header-content .content-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #c2c2c2;
}

.header-content .info {
  max-width: 40ch;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info .role {
  color: #f26c4f;
}

.buttons {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    gap: 15px;
  }

  .header-content h1 {
    text-align: center;
  }

  .header-content h1::before {
    display: none;
  }

  .header-content .info {
    text-align: center;
    align-items: center;
  }
}
