header {
  height: 100vh;
  background: #222222;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
  align-items: center;
  margin-bottom: 30px;
}

nav img {
  width: 50px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

nav h1 {
  color: #f26c4f;
  font-size: 2rem;
}

nav ul {
  display: flex;
  gap: 40px;
}

ul li {
  list-style: none;
}

.header-content {
  margin-top: 100px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.header-content h1 {
  max-width: 9ch;
  font-size: 5rem;
  font-weight: 700;
  text-align: right;
  position: relative;
  line-height: 1.2;
  flex-basis: 0;
  padding: 0 10px;
}

.header-content h1::before {
  content: "";
  position: absolute;
  top: -75px;
  right: -15px;
  height: 350px;
  width: 2px;
  background: #f26c4f;
  border-radius: 300px;
}
.header-content .content-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #c2c2c2;
}

.social-icons {
  display: flex;
  gap: 50px;
  justify-content: flex-end;
  padding: 20px 30px;
}

.social-icons img {
  width: 30px;
  filter: invert(58%) sepia(89%) saturate(1912%) hue-rotate(325deg)
    brightness(94%) contrast(101%);
  opacity: 0.5;
}

.header-content .info {
  max-width: 40ch;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info .role {
  color: #f26c4f;
  position: relative;
}

.buttons {
  display: flex;
  gap: 20px;
}

@media (max-width: 800px) {
  .header-content {
    flex-direction: column;
    gap: 15px;
  }

  .header-content h1 {
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }

  .header-content h1::before {
    display: none;
  }

  .header-content .info {
    text-align: center;
    align-items: center;
  }
}
