@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  color: #f1f7ee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #f1f7ee;
}

.header-content {
  animation: loadin 0.75s;
}

.container {
  max-width: 1200px;
}

@keyframes loadin {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
